{{page-title "Home"}}

<div class="navbar-menu">
    <div class="navbar-start">
        <LinkTo class="navbar-item" @route="favorite">
            Favorite
        </LinkTo>

        <LinkTo class="navbar-item" @route="history">
            Hisotry
        </LinkTo>

    </div>
</div>

<div class="page">
    <div class="grid">
        {{#each @model as |artwork|}}
        <div class="cell">
            <LinkTo @route="artwork-details" @model={{artwork}}>{{artwork.title}}</LinkTo> <br>
            <img src="https://www.artic.edu/iiif/2/{{artwork.image_id}}/full/843,/0/default.jpg" alt="" width="50"
                height="50" />
        </div>
        {{/each}}
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" {{on "click" this.goToPreviousPage }}>Previous</a>
        <a class="pagination-next" {{on "click" this.goToNextPage }}>Next page</a>
        <ul class="pagination-list">
            {{#unless this.isFirstPage}}
            <li>
                <a class="pagination-link" aria-label="Goto page 1" {{on "click" (fn this.goToPage 1) }}>1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            {{/unless }}
            <li>
                <a class="pagination-link is-current" aria-label="Page {{@model.meta.current_page}}"
                    aria-current="page">{{@model.meta.current_page}}</a>
            </li>
            {{#unless this.isLastPage}}
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{@model.meta.total_pages}}" {{on "click" (fn
                    this.goToPage @model.meta.total_pages) }}>{{@model.meta.total_pages}}</a>
            </li>
            {{/unless }}
        </ul>
    </nav>
</div>
{{outlet}}